# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# AWS SAM
.aws-sam/

# Environment Variables
.env

# Python Packaging
build/
dist/
*.egg-info/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Secrets
*.pem
*.key
credentials.json

# AWS Credentials
.aws/

# Terraform
*.tfstate
*.tfstate.*

# IDE
.idea/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Zip files
*.zip